/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Light mode background */
    --foreground: 222.2 84% 4.9%; /* Light mode text color */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 5.9% 10%; /* Updated dark gray color */
    --secondary-foreground: 0 0% 98%; /* White text */

    --muted: 240 5% 90%; /* Light gray */
    --muted-foreground: 240, 5%, 50%; /* Gray text */

    --accent: 240 5.9% 10%; /* Dark gray */
    --accent-foreground: 0 0% 98%; /* White text */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5.9% 10%; /* Dark border color */
    --input: 240 5.9% 10%; /* Dark input color */
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
     --preview-background: 0 0% 0%;
  }

  .dark {
    --background: 240 10% 3.9%; /* Dark mode background */
    --foreground: 0 0% 98%; /* Dark mode text color */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 90%; /* Light gray */
    --secondary-foreground: 240 5.9% 10%; /* Dark gray text */

    --muted: 240 5% 90%; /* Light gray */
    --muted-foreground: 240 5% 64.9%; /* Gray text */

    --accent: 240 5% 90%; /* Light gray */
    --accent-foreground: 240 5.9% 10%; /* Dark gray text */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 10%; /* Dark border color */
    --input: 240 5.9% 10%; /* Dark input color */
    --ring: 240 4.9% 83.9%;
    --preview-background: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}